body
{
	font-family: Arial, sans-serif; 
	margin: 0;
	padding: 0; 
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
	background: skyblue; 
	background-size: cover;
}
#particles-js
{
	
	height: 100%;
	position: absolute;
	width: 100%;
	transition: background-color 1s ease;
}
.reset

{
	text-align: center;
	width: 400px;
	box-sizing: border-box;
	padding: 40px;
	background: #fff;
	z-index: 9999;
	opacity: 0.8;
}
.reset h2 
{
	margin: 0 0 20px; 
	padding: 0; 
	font-size: 25px ; 
	text-transform: uppercase;
}
.reset h6
{ 
	padding: 0;

}
.reset .input-group
{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.reset .input-group input
{
	height: 50px; 
	width: 100%;	
	padding: 0 20px; 
	box-sizing: border-box;
	font-size: 18px; 
	outline: none;
	border-radius: 1px solid ;
	border-color:  black; 
}
.reset .input-group span
{
	position: absolute;
	top: 12px; 
	left: 20px;
	padding: 0; 
	transition: 0.5s; 
	pointer-events: none;
	background: #fff; 
	text-transform: uppercase;

}
.reset .input-group input:focus ~ span,.reset .input-group input:valid ~ span

{
 top: -12px; 
 left: 12px;
 font-size: 12px; 
 padding: 2px 4px; 
 border:1px solid #000;
 background: skyblue;
}
.reset .input-group input[type=submit]
{
	background: skyblue; 
	border: none;
	box-shadow: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
}
.reset .input-group input[type=submit]:hover
{
	background: lightblue;
}





