body
{
	font-family: Arial, sans-serif;
	margin: 0; 
	padding: 0; 
	display: flex;
	justify-content: center;
	align-items: center;
	 
	background: skyblue;
	background-size: cover;

}
html{
	overflow-y: scroll;
}
#particles-js 
{
	height: 100%;
	position: absolute;
	width: 100%;
	transition: background-color 1s ease;
}
.register
{
	text-align: center;
	width: 550px; 
	box-sizing: border-box;
	padding: 40px; 
	background: #fff; 
	z-index: 99999;
	opacity: 0.8;
}
.register h2 
{
	margin: 0 0 20px;
	padding: 0; 
	font-size: 30px; 
	text-transform: uppercase;

}
.register .input-group
{
	position: relative;
	width: 100%; 
	margin-bottom: 25px; 

}
.register .input-group input
{
	height: 50px; 
	width: 100%;	
	padding: 0 20px; 
	box-sizing: border-box;
	font-size: 18px; 
	outline: none;
	border-radius: 1px solid ;
	border-color:  black;
}
.register .input-group span
{
	position: absolute;
	top: 12px; 
	left: 20px;
	padding: 0; 
	transition: 0.5s; 
	pointer-events: none;
	background: #fff; 
	text-transform: uppercase;

}

.register .input-group input:focus ~ span,.register .input-group input:valid ~ span

{
 top: -12px; 
 left: 12px;
 font-size: 12px; 
 padding: 2px 4px; 
 border:1px solid #000;
 background: skyblue;
}
.register .input-group input[type=submit], .register .input-group input[type=reset]
{
	background: skyblue; 
	border: none;
	box-shadow: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	width: 250px;
}
.register .input-group input[type=submit]:hover,.register .input-group input[type=reset]:hover
{
	background: lightblue;
}
.register #jomla
{

	margin: 0 0 20px;
	padding: 0; 
	font-size: 15px; 
	text-transform: uppercase;
}
.register a 
{
	color: #262626;
	text-decoration: none;
	display: block;
	text-align: left;
	color: #666; 
}
.register a span
{
	color: #262626; 
	font-weight: 600; 
}




